<div>
    <div class="background">

    </div>
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="col">
                        <h1> THE BEGINNING.... </h1>
                    <p>
                        The dictonary defines Miracle as an extraordinary event that can not be explained and considered to be the work of a divine
                        agency. My life story definelty lives up to my name. From birth I was defying odds. My mother gave
                        birth to me at the age of 12 and due to unfortunate events i was removed from her care and placed
                        into foster care. I have overcome sexual, mental and verbal abuse. So as you can imagine I was a
                        child with a lot of "problems".</p>
                       <h1> THE MIDDLE....</h1>
                        <p>I started doing drugs in the sixth grade and school became my last priority. My test scores carried
                            me through school. I became such a menace to society that I was sent to bootcamp. What I thought
                            was the worst thing that could ever happen, turned out to be my saving grace.</p>
                       
                        <p> The good definelty out weighs the bad. I did graduate HighSchool on time, I've traveled to speak
                            on several pannels advocating for women and foster youth. I have traveled to several fundraisers
                            and different companies to share my testimony. I am also currently working on my first book about my life.</p>
                            
                            <p> Of course this is my story in a nutshell and if you want to know more I am completely open and transparent
                        and would love to share in hopes that you would be encouraged and lifted above your circumstances
                        to see them at a different perspective so you can aquire the strength to persevere.</p>
                        <h1>WHY VISION BOARDS AND SPEAK IT BOARDS?....</h1>
                        <p> I am a firm believer that your words have power. The words you speak shape your world. I choose
                        </p>
                   <h1> WISDOM....</h1>
                        <p> Most of all I am learning daily to love myself and setting goals one by one and achieving them! When
                        I was at my lowest it was others testimonies that shed a little light on my own situation and gave
                        me a slight push to just keep putting one foot before the other. This is going to be a page where
                        people can post their vision boards or their speak it boards, and also have the opportunity to share
                        their testimony.</p>
                   
                        <p> If you can effiectively apply neuroplasticity to your thoughts you will see changes. You HAVE to speak
                        positive confessions, you HAVE to create vision boards, you can NOT stay stuck. Helping African American
                        young adults build vision and speak it boards started as a personal remedy, I could no longer hold
                        in the power behind confessing your visions and also putting a visual to it. There is a donate page
                        where you can help host a vison/speakt it board party for African American young adults. Its vital
                        that I let them know they must lay a brick a day! You are valuable, you have to take care of YOU,
                        you have to set goals and achieve them so that yo can be effective in helping others. Love, Miracle
                    </p>




                </div>
            </div>
        </div>
    </div>
</div>