<div class="background">

    <ngb-carousel id="no-outline"> <br><br>
      <ng-template ngbSlide>
        <img class="slideImg" src="../../assets/howtocreate.jpg" alt="Put your image on a board to visually see it!">
        <div class="">
         <p> 
              “If you don’t design your own life plan, chances are you’ll fall
              into someone else’s plan. And guess what they have planned for you? Not much.” 
              -Jim Rohn
           </p>
  
        
        </div>
      </ng-template>
  
      <ng-template ngbSlide>
        <img  class="slideImg" src="../../assets/teens.jpg" alt="Turn away from the past and focus on what you want YOUR future to be! ">
        <div class="">
         <p>
              “Never underestimate the power of dreams and the influence of the human spirit. We are all the same in this notion. 
              The potential for greatness lives within each of us.”
              – Wilma Rudolph
            </p>
  
  
        </div>
      </ng-template>
  
      <ng-template ngbSlide>
        <img class="slideImg" src="../../assets/funny.jpg" alt="The Recipe">
        <div class="">
        <p>
              “The vast majority of people are born, grow up, struggle, and go through life in misery and failure, 
              not realizing that it would be just as easy to switch over and get exactly what they want out of life,
               not recognizing that the mind attracts the thing it dwells upon.”
               -Napoleon Hill 1883 – 1970, author of “Think and Grow Rich”
          </p>
  
        </div>
      </ng-template>
    </ngb-carousel>
  
</div>